<!-- <%- include('include/_header') %> -->
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/Loginstyles.css">
    <script src="js/Signup.js"></script>

</head>
<body>
    
    <div id="container">
        <div id="error-message" style="color: white; margin-bottom: 50px; display: none;"></div>
        <div id="login-div">
            <div id="title">
                <h1>Login</h1>
            </div>
                <form action="/api/login" method="post" id="form">
                    <label for="email" id="email-label">Email: </label>
                    <input type="email" placeholder="login@example.com" name="email" id="email"><br>

                    <label for="password" id="password-label">Password: </label>
                    <input type="password" placeholder="Password" name="password" id="password"><br>


                    <button type="submit" id="button">Login</button>

                </form>

                <p id="signup-label">Don't have an Account? <a href="/SignUp">Sign Up</a></p>
        </div>
    </div>
    

</body>
</html>

<!-- <%- include('include/_footer') %> -->