<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <link rel="stylesheet" href="/css/Signupstyles.css">
    <script src="js/Signup.js"></script>
    

</head>
<body>
    <div id="container">
        <div id="error-message" style="color: white; margin-bottom: 50px; display: none;"></div>
        <div id="login-div">
            <div id="title">
                <h1>Sign Up</h1>
            </div>
                <form action="/api/users" method="post" id="form">
                    <label for="email" id="email-label">Email: </label>
                    <input type="text" placeholder="login@example.com" name="email" id="email">

                    <label for="password" id="password-label">Password: </label>
                    <input type="password" placeholder="Password" name="password" id="password">

                    <label for="password" id="re-password-label">Re-type Password: </label>
                    <input type="password" placeholder="Retype Password" name="re-password" id="re-password">
                    
                    
                    <button type="submit" id="button">Sign Up</button>
                    

                </form>

                <p id="signup-label">Already have an account? <a href="/">Log In</a></p>
        </div>
    </div>

</body>
</html>